body {
    background-color: #EDDDD0;
}

.Montserratonly {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: center;
    background-color: #A6CAD4;
}

.nobullet{
    list-style: none;
}

.title {
    background-color: #A6CAD4;
    text-align: center;
}

p.foothead {
    background-color:#A6CAD4;
    text-align: center;
}

body {
    /* display: flex;
    flex-wrap: wrap; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 2fr 2fr 3fr;
  }

  main{
    grid-column: 1;
    grid-row: 1;

  }
  header{
    grid-column: 1;
  }
 
  footer{
    grid-column: 1/4;
    grid-row: 5;
  }

  div.eug {
    grid-column: 1;
    grid-row: 4/5;
  }

  div.born {
    grid-row: 
  }

  nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/4;
  }

  li{
    margin: 5px;
  } 
