body {
    background-color: lavenderblush;
}

.Montserratonly {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: center;
    background-color: #A6CAD4;
}

.nobullet{
    list-style: none;
}

.title {
    background-color: #A6CAD4;
    text-align: center;
}

p.foothead {
    background-color:#A6CAD4;
    text-align: center;
}

.container {
    display: flex;
}