body {
    background-color: lavenderblush;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
nav{
    text-align: center;
    background-color: lightblue;
}
nav span{
    margin: 0px auto 0px auto;
 }
  